In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
from yellowbrick.classifier import ConfusionMatrix

In [3]:
# importar os dados. 
# dividir dados previsores e classificadores (são os dados de resultado)
# ajusta dos previsores texto para ficarem como númerico. 
# fizemos divisão da base entre treianemnto e teste utiliando train_teste_split
# CRIAR O MODELO naiv_bayes
# gerar as previsoes utilizando predict. 
# gerar a matriz de confusao para saber qual a % acerto.
#---------------------------
#agora é so usar o modelo testando um novo valor (novo credito)

In [3]:
credito = pd.read_csv('credit.csv')
credito.shape

(1000, 21)

In [7]:
credito.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [ ]:
previsor = credito.iloc[:,0,:20].values
class = credito.iloc[:,20].values